.content {
  padding: 15px 40px;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  /* width: 100% !important; */
}

.header {
  background-color: antiquewhite;
  padding: 10px 20px;
  min-width: 100%;
}

.webpage {
  display: flex;
  width: 100vw;
}

.navIcon {
  font-size: 20px;
  cursor: pointer;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}

.navContainer {
  min-height: 100vh;
  transition: all 0.3s ease;
  width: 20%;
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 15px;
  }

  .displayFlex {
    flex-direction: column;
  }

  .dashboard-title {
    margin-bottom: 10px;
  }

  .content--invisible {
    display: none !important;
  }

  .visible {
    width: 100%;
  }
}

.displayFlex:not(:last-child) {
  margin-bottom: 20px;
}
